@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Permanent+Marker&display=swap');

:root {
  --dark: #0c090d;
  --pink: #e01a4f;
  --blue: #53b3cb;
  --orange: #f15946;
  --yellow: #f9c22e;

  --mainFont: 'Josefin Sans', sans-serif;
  --drawnFont: 'Permanent Marker', cursive;
  --heavy: 700;
  --medium: 500;
  --regular: 400;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--mainFont);
  font-weight: var(--regular);
  background-color: var(--dark);
}
section {
  height: 100vh;
  scroll-snap-align: start;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}
li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 2rem;
  margin-top: 1.5rem;
}
.container {
  height: 100vh;
}

/* Home */

#home {
  display: grid;
  place-content: center;
  height: 100vh;
}
.home-img {
  height: 100%;
  width: 800px;
  margin-inline: auto;
}
/* About */
#about-me {
  height: 100vh;
  background-color: var(--pink);
}
/* Projects */
#projects {
  width: 100vw;
  background-color: var(--blue);

  display: grid;
  place-content: center;
}
.project-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  border: 1px solid red;
  margin-left: 2vw;
  margin-right: 2vw;
}
.last {
  margin-left: 4rem;
}
.horizontal {
  /* width: fit-content; */
}
.project-cards {
  height: 100vh;
  width: fit-content;
  display: flex;
}
/* Contact */
#contact {
  background-color: var(--yellow);
}
